<div class="main-wrapper">
  <!-- Header -->
  <app-header></app-header>


  <!-- Section 1 (Content with Sidebar) -->
  <div class="content-section d-flex">
    <app-sidebar></app-sidebar>
    <div class="content flex-grow-1">
      <h1>ONLINE EXAMINATION SYSTEM</h1>
      <p>
        This is a <a href="#" class="text-primary">Website</a> for Online
        Examination that the students can attend exams online.
      </p>
    </div>
  </div>

  <!-- Section 2 (Exams without Sidebar) -->
  <div class="exam-section section-clear">
    <h3 class="text-center">OUR SOME EXAMS</h3>
    <div class="cards-container">
      <app-subject-card></app-subject-card>
      <app-subject-card></app-subject-card>
      <app-subject-card></app-subject-card>
      <app-subject-card></app-subject-card>
    </div>
  </div>
  <!-- <section class="comment-section">
    <app-comment></app-comment>
  </section> -->
  <!-- Section 3 (Footer) -->
   <app-footer></app-footer>
</div>