<footer class="custom-footer"
style="background: url('s5.jpeg') no-repeat center center/cover;">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="sierra_nature_logo.svg" alt="Zoo Logo">
      </div>
      <div class="footer-links">
        <a href="#">Home</a>
        <a href="#">Visit</a>
        <a href="#">Contact</a>
      </div>
      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
 <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
          <span class="text-center text-sm-left d-block d-sm-inline-block tx-14">© 2024 Exam System. All rights reserved.</span>
        </div>
    </footer>
